.hp-text {
    width: 100%;
    height: 100%;
    -unity-text-align: middle-center;
    text-align: center;
    color: white;
    font-size: 14px;
}

.mp-text {
    width: 100%;
    height: 100%;
    -unity-text-align: middle-center;
    text-align: center;
    color: white;
    font-size: 14px;
}